.form_control {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5em;
}

.form_control label {
    margin-bottom: .6em;
    border-radius: 0;
    font-weight: bold;
    color: #ffe174;;
}

.form_control input::placeholder {
    color: #353535;
}

.form_control input{
    padding: 1.2em;
    border-radius: 5px;
    border: none;
}
.form_control input::placeholder{
    color: #353535;
}