.footer{
background-color: #0D1B2A;
color: #fff7f7;
padding: 2.8em;
text-align: center;
}
.social_list{
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.social_list li{
    margin: 0 1em;
}
.social_list li:hover{
    color: #ffe174;
}
.social_list svg{
    font-size: 2em;
    cursor: pointer;
}
.copy_right{
    margin-top: 2em;
}
.copy_right span{
    font-weight: bold;
    color: #ffe174;
}
